
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  ​
  .navbar{
      position: fixed;
      width: 100vw;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    color: white;
    background-color: black;
    padding: 0 20px;
  }
  ​
  .links ul {
    display: flex;
    gap: 31px;
    list-style: none;
  }
  a {
    text-decoration: solid;
    color: white;
  }
  ​
  .content {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  .left{
    width: 45vw;
    padding-right: 100px;
  }
  button {
    background: black;
    color: white;
    width: 120px;
    height: 35px;
  }
  .right {
    width: 40vw;
    height: 100vh;
    background-color: grey;
  }